<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="AppSeed App Generator">
<link href="http://cleopatra.ijs.si/sensoranalysis/static/assets/img/brand/favicon.png" rel="icon" type="image/png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link href="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="http://cleopatra.ijs.si/sensoranalysis/static/assets/css/argon.css?v=1.0.0" rel="stylesheet">
<link type="text/css" href="http://cleopatra.ijs.si/sensoranalysis/static/assets/css/newStyle.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://cleopatra.ijs.si/sensoranalysis/static/assets/css/inspector.css">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900|Source+Code+Pro:300" rel="stylesheet"
      type="text/css">
<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/multiselect-dropdown.js" ></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css"/>


