  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Optional JS -->
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/argon.js?v=1.0.0"></script>

  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/plots.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/displacy.js"></script>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Load color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <!-- JavaScript Libraries //-->
<script src="http://d3js.org/d3.v3.min.js"></script>

<!-- CSS Style //-->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900|Source+Code+Pro:300" rel="stylesheet" type="text/css">

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/noUiSlider.js"></script>	
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/noUiSlider.min.js"></script>


  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/plots.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js" integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc" crossorigin="anonymous"></script>



<script src="https://unpkg.com/d3-dsv"></script>
          <script src="https://unpkg.com/dat.gui"></script>
          <script src="https://unpkg.com/d3-octree"></script>
          <script src="https://unpkg.com/d3-force-3d"></script>
          <script src="https://unpkg.com/three-spritetext"></script>
          <script src="https://unpkg.com/3d-force-graph"></script>
          <script src="https://unpkg.com/three"></script>
          <script src="https://unpkg.com/three-spritetext"></script>
          <!-- <script type="importmap">{ "imports": { "three": "https://unpkg.com/three/build/three.module.js" }}</script>-->