
<!-- Main content -->
  <div class="main-content">
    <!-- Header -->
          <div class="container-fluid bg-gradient-success">
        <div class="row">
            <h1 class="text-white">Introduction</h1>
        </div>
    </div>
	<br>
	<br>
	<br>
    <!-- Page content -->
	<div class="container-fluid" id="offline-cont">
            <div id="QAform_3">
                <label id="phoneLabl" for="phone" style="color:black;">Enter event-id:</label>
                <input id="phone" name="phone" placeholder="eng-1891389">
                <input type="button" id="btnLbl" style="width:120px;height:40px;" value = "Download" />
            </div>
        </div>
    <div id="container">
  <div id="content">
    <div id="about">
      <h2>
        <div style="clear:both;margin-bottom:30px;" class="subhead">
          Analysis through information propagation network
        </div>
        <div class="stage">
          <div class="pyramid3d">
            <div class="triangle side1"></div>
            <div class="triangle side2"></div>
            <div class="triangle side3"></div>
            <div class="triangle side4"></div>
          </div>
        </div>
      </h2>
      <h3 style='clear:both' class="subhead">
        <a>Information propagation network</a> allows visualizing the information spreading. It refers to the representation of the transmission and
          dissemination of information in a graphical or visual format. The purpose of visualizing information spreading is to help better understand
          and analyze the patterns, trends, and dynamics of how information travels across different barriers. This type of visualization can be useful in
          various fields, such as communication, social network analysis, digital humanities, journalism and epidemiology.
      </h3>
	  
	  <script type="text/javascript">
                      <!--   document.getElementById("switch").addEventListener("change", function (element){
                           <!--      console.log("checked")
                     <!--    let bc = document.getElementById("dropdowns")
					 <!--
                       <!--  if(bc.style.display == 'none'){
                        <!-- bc.style.display = 'block';
                       <!--  document.getElementById("phoneLabl").style.display = 'none';
                         <!--document.getElementById("phone").style.display = 'none';
                         <!--document.getElementById("btnLbl").style.display = 'none';

                    <!-- }else{
                        <!-- bc.style.display = 'none';
                         <!--document.getElementById("phoneLabl").style.display = 'block';
                         <!--document.getElementById("phone").style.display = 'block';
                         <!--document.getElementById("dropdown2").style.display = 'none';
                         <!--document.getElementById("btnLbl").style.display = 'block';

                     <!--}
                     <!--});-->
					
					 function showAlert() {
						alert ("Event downloaded");
						}
					
					</script>
	  
    </div>
  </div>
</div>
  </div>



