<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title>Temporal Analysis of Information Spreading</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js" integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc" crossorigin="anonymous"></script>
<script type="text/javascript">
    Bokeh.set_log_level("info");
</script>
</head>

<body>
<div class="header bg-gradient-success pb-4 pt-2 pt-md-6">
    <div class="container-fluid">
        <div class="header-body">
            <h1 align="center">Temporal Analysis of News coverage</h1><br><br>
                <div class="col-xs-3">
            <label>Select Dataset </label>
            <select id="dataset">
                <option value="select" selected="selected">Select</option>
                <option value="olympics">Olympics</option>
                <option value="euro">Euroscepticism</option>
            </select>
        </div>

<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Temporal Analysis</p>
  <a href="/dashapp/" class="dash-link">
    <span>Temporal Analysis</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
            </div>
      </div>
    </div>
</body>

</html>
