<!DOCTYPE html>
<html>

  <head>

    <title>IPN Dashboard</title>
    <meta name="description" content="Admin Panel with Argon Design crafted by Creative-Tim and coded in Flask  with SQLite database, ORM and authentication.">

  <!--  <script src="/static/assets/js/plots.js"></script>
    <script src="/static/assets/js/displacy.js"></script>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://unpkg.com/dat.gui"></script>
	 <script src="https://unpkg.com/three"></script>
	 <script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@<version>/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@<version>/examples/jsm/"
    }
  }
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js" integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc" crossorigin="anonymous"></script>-->
    <script src="https://unpkg.com/d3-dsv"></script>
  
  <script src="https://unpkg.com/d3-octree"></script>
  <script src="https://unpkg.com/d3-force-3d"></script>

  <script src="https://unpkg.com/3d-force-graph"></script>
  
  <script async src="https://unpkg.com/es-module-shims@1.8.0/dist/es-module-shims.js"></script>
 
  
  
  <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
<!-- Argon JS -->
<script type="text/javascript" src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/argon.js?v=1.0.0"></script>  

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<!-- <script type="text/javascript" src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/displacy.js"></script>
  <script src="https://unpkg.com/three-spritetext"></script>
  <script src="https://unpkg.com/three-spritetext"></script>
  
<script type="text/javascript" src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/topbar.js"></script>-->
<script type="text/javascript" src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/topbar.min.js"></script>


<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Load color scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<!-- CSS Style //-->


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/jquery.min.js"></script>

<script type="text/javascript"  src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/plots.js"></script>


<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js" integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc" crossorigin="anonymous"></script>
		

<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/multiselect-dropdown.js" ></script>

<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/wNumb.js"></script>
<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/wNumb.min.js"></script>



<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/argon.js"></script>

  
<link href="http://cleopatra.ijs.si/sensoranalysis/static/assets/img/brand/favicon.png" rel="icon" type="image/png">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
<link href="http://cleopatra.ijs.si/sensoranalysis/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="http://cleopatra.ijs.si/sensoranalysis/static/assets/css/argon.css?v=1.0.0" rel="stylesheet">
<link type="text/css" href="http://cleopatra.ijs.si/sensoranalysis/static/assets/css/newStyle.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://cleopatra.ijs.si/sensoranalysis/static/assets/css/inspector.css">
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900|Source+Code+Pro:300" rel="stylesheet"
      type="text/css">
<!--<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/multiselect-dropdown.js" ></script>-->
 

 
  
 
 <!--  <script src="/static/js/pieChart.js"></script>
   <script src="/static/js/barChart.js"></script>
   <script type="importmap">{ "imports": { "three": "https://unpkg.com/three/build/three.module.js" }}</script>
   <script type="importmap">{"imports": {"three": "https://unpkg.com/three/build/three.module.js", "three/addons/": "https://unpkg.com/three@<version>/examples/jsm/"}}</script>
   <script src="/static/js/updateBarChart.js"></script>-->
      <script src="https://d3js.org/d3.v5.min.js"></script>


<script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/plots.js"></script>
    <script src="http://cleopatra.ijs.si/sensoranalysis/static/assets/js/displacy.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.1.min.js" integrity="sha384-JpP8FXbgAZLkfur7LiK3j9AGBhHNIvF742meBJrjO2ShJDhCG2I1uVvW+0DUtrmc" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/d3-dsv"></script>
  <script src="https://unpkg.com/dat.gui"></script>
  <script src="https://unpkg.com/d3-octree"></script>
  <script src="https://unpkg.com/d3-force-3d"></script>
  <script src="https://unpkg.com/three-spritetext"></script>
  <script src="https://unpkg.com/3d-force-graph"></script>
  <script src="https://unpkg.com/three"></script>
  <script src="https://unpkg.com/three-spritetext"></script>
   <script src="/static/js/pieChart.js"></script>
   <script src="/static/js/barChart.js"></script>
   <script src="/static/js/updateBarChart.js"></script>
      <script src="https://d3js.org/d3.v5.min.js"></script>



    {% include 'includes/header.html' %}

  </head>

<body>

  {% include 'includes/sidenav.html' %}

  {{ content | safe }}

  {% include 'includes/scripts.html' %}

</body>

</html>




